.card{
    background-color: #A06655;
    width: 100%;
}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-title{
    font-weight: 700;
    margin-top: 1em;
}
.card-text{
    text-align: center;
}
.card-text>span{
    display: block;
}